.dash-profile {
    height: 150px;
    width: 320px;
    background-color: white;
    display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    box-shadow: 5px 5px 5px -4px rgba(140,140,140,1);
	/* justify-content: center; */
}

.welcome {
    width: 500px;
    height: 150px;
    background-color: white;
    color: black;
    margin-left: 20px;
    box-shadow: 5px 5px 5px -4px rgba(140,140,140,1);
}

.recommended-outer {
    height: 1000px;
    width: 900px;
    margin: 0 auto;
    background-color: orange;
    box-shadow: 5px 5px 5px -4px rgba(140,140,140,1);
}

.recommended-titles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: red;
    height: 75px;
    width: 900px;
}

h4 {
    height: 20px;
    width: 50px;
    color: black;
}

.top-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    width: 100vw;
}

.dashboard {
    justify-content: center;
    color: white;
    background-color: rgb(224, 224, 224);
}

.button {
 background-color: lightgray;
 text-decoration: none;
 color: black;
 width: 75px;
}
.select {
    height: 25px;
}

.list {
    /* display: flex; */
    /* justify-content: center; */
    height: 850px;
    width: 700px;
    background-color: white;
    margin: 25px 100px;
}

.left-side {
    height: 150px;
    width: 150px;
    /* box-sizing: content-box; */
}

.right-side {
    height: 150px;
    width: 170px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	/* justify-content: center; */
}

.me {
    /* box-sizing: content-box; */
    margin-top: 25px;
    height: 100px;
    width: 100px;
    border: solid orange 2px;
    background-color: white;
    
}