.content {
    background-image: linear-gradient(99deg, #ff70a6, #ff9770 40%, #ffd670 73%, #e9ff70);
    height: 80px;
    display: flex;
    flex-direction: row;  
    justify-content: space-around;
    font-weight: 900;
    color: white;
}

.links {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-top: 30px;
}

.links-logout {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-top: 30px;
    /* float: right; */
}